body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
@font-face {
  font-family: miracle;
  src: url(/assets/fonts/Miraculous&Christmas.ttf); }

* {
  max-width: 100%; }

.stories-style {
  font-family: miracle;
  color: #240000; }

@keyframes pop {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); } }

.pop-effect {
  animation: pop 3s ease-in-out infinite alternate;
  -webkit-animation: pop 3s ease-in-out infinite alternate; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

h1 {
  font-size: 7em;
  font-family: miracle;
  margin-top: 40px;
  margin-bottom: 40px; }

.center {
  text-align: center; }

section.header {
  text-align: center;
  max-width: 100%;
  background: #f5c161;
  position: relative;
  z-index: 2;
  border-radius: 0 0 30% 70%;
  padding-top: 30px;
  padding-bottom: 90px; }
  section.header img.logo {
    max-width: 100%;
    width: 22%; }
  section.header .address {
    padding-top: 12px;
    font-size: 1.1em; }
  section.header .navigation {
    padding-top: 24px; }
    section.header .navigation a {
      text-decoration: underline;
      color: black; }
    section.header .navigation a:hover {
      text-decoration: none;
      color: white; }

div.vespa-container {
  margin-top: -30px;
  padding: 60px;
  background: #79acad;
  border-radius: 50% 150% 50% 0; }
.brands {
  max-width: 100%;
  text-align: center;
  padding-top: 120px;
  background: white; }
  .brands .brand-list-container {
    padding-left: 8px;
    padding-right: 8px; }
    .brands .brand-list-container .brand-container {
      display: inline-block;
      text-align: center;
      padding: 8px; }
      .brands .brand-list-container .brand-container img {
        max-width: 70px;
        height: auto; }
      .brands .brand-list-container .brand-container span {
        display: block;
        padding-top: 16px; }
div.shop-container {
  z-index: 0;
  height: auto;
  background: #f7f7f7; }

section.shop {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f7f7f7; }
  section.shop img.monkeys {
    width: 100%; }
@font-face {
  font-family: miracle;
  src: url(/assets/fonts/Miraculous&Christmas.ttf); }

* {
  max-width: 100%; }

.stories-style {
  font-family: miracle;
  color: #240000; }

@keyframes pop {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); } }

.pop-effect {
  animation: pop 3s ease-in-out infinite alternate;
  -webkit-animation: pop 3s ease-in-out infinite alternate; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

h1 {
  font-size: 7em;
  font-family: miracle;
  margin-top: 40px;
  margin-bottom: 40px; }

.center {
  text-align: center; }

div#concept {
  min-height: 400px; }
  div#concept div.vespa-container {
    padding: 60px;
    background: #79acad;
    border-radius: 50% 150% 50% 0;
    min-height: 300px;
    z-index: 3;
    position: relative;
    margin-top: 12px; }
    @media screen and (min-width: 1200px) {
      div#concept div.vespa-container {
        max-width: 80%; } }
    div#concept div.vespa-container img.vespa {
      bottom: -85px;
      position: absolute;
      max-width: 55%; }
    div#concept div.vespa-container .vespa-text-container {
      float: right;
      margin-right: 12%;
      height: 300px;
      margin-top: 40px;
      color: white; }
      div#concept div.vespa-container .vespa-text-container h1 {
        margin: 0; }
      div#concept div.vespa-container .vespa-text-container .social-networks-container {
        line-height: 0px;
        vertical-align: middle;
        text-align: center; }
        div#concept div.vespa-container .vespa-text-container .social-networks-container span.pads {
          padding: 12px; }
        div#concept div.vespa-container .vespa-text-container .social-networks-container img {
          width: 105px;
          vertical-align: top; }
        div#concept div.vespa-container .vespa-text-container .social-networks-container .fb_iframe_widget {
          vertical-align: sub; }
@font-face {
  font-family: miracle;
  src: url(/assets/fonts/Miraculous&Christmas.ttf); }

* {
  max-width: 100%; }

.stories-style {
  font-family: miracle;
  color: #240000; }

@keyframes pop {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); } }

.pop-effect {
  animation: pop 3s ease-in-out infinite alternate;
  -webkit-animation: pop 3s ease-in-out infinite alternate; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

h1 {
  font-size: 7em;
  font-family: miracle;
  margin-top: 40px;
  margin-bottom: 40px; }

.center {
  text-align: center; }

section.contact {
  text-align: center;
  max-width: 100%;
  background: white;
  padding-top: 0px;
  min-height: 400px; }
  section.contact .contact-container {
    background: #60423d;
    color: white;
    border-radius: 50% 0% 50% 150%;
    padding: 100px;
    padding-top: 30px;
    width: 70%;
    float: right; }
@font-face {
  font-family: miracle;
  src: url(/assets/fonts/Miraculous&Christmas.ttf); }

* {
  max-width: 100%; }

.stories-style {
  font-family: miracle;
  color: #240000; }

@keyframes pop {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); } }

.pop-effect {
  animation: pop 3s ease-in-out infinite alternate;
  -webkit-animation: pop 3s ease-in-out infinite alternate; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

h1 {
  font-size: 7em;
  font-family: miracle;
  margin-top: 40px;
  margin-bottom: 40px; }

.center {
  text-align: center; }

.footer-container {
  background: white; }
  .footer-container section.footer {
    text-align: center;
    background: black;
    padding: 40px;
    color: white;
    font-size: 0.8em;
    border-radius: 50% 50% 0% 0%; }
.App {
  width: auto; }

html {
  background: #f7f7f7; }
