div.carousel-container {
    padding-top: 40px;
    padding-bottom: 40px;

    @media only screen and (max-width: 800px) {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.slider-control-centerleft > button ,
.slider-control-centerright  > button{
    background-color: white !important;
    color: black !important
}

.slider-control-bottomcenter button {
    color: white !important
}
