@import "../../global.scss";

section.header {
    text-align: center;
    max-width: 100%;
    background: $goldCustom;
    position: relative;
    z-index: 2;

    border-radius: 0 0 30% 70%;

    padding-top: 30px;
    padding-bottom: 90px;


    img.logo{
        max-width: 100%;
        width: 33%;
    }

    .address {
        padding-top: 12px;
        font-size: 1.1em;
    }
    .navigation{
        padding-top: 24px;
        a{
            text-decoration: none;
            color: black;
         }
         a:hover{
             text-decoration: underline;
         }
    }
}

div.vespa-container {
    margin-top: -30px;
    padding: 60px;
    background: #79acad;;
    border-radius: 50% 150% 50% 0;
}