@import "../../global.scss";

.footer-container{
    background: white;

    section.footer {
        text-align: center;
        background: black;
        padding: 40px;
        color: white;
        font-size: 0.8em;
        border-radius: 50% 50% 0% 0%;
    }
}

