@import "../../global.scss";

div#concept {
    min-height: 400px;

    div.vespa-container {
        padding: 60px;
        background: #79acad;
        border-radius: 50% 150% 50% 0;
        min-height: 450px;
        z-index: 3;
        position: relative;
        margin-top: 12px;

        @media screen and (min-width: 1200px){
            max-width: 80%;
        }

        @media screen and (max-width: 991px){
            padding: 30px;
            padding-bottom: 100px;
        }

        @media screen and (max-width: 550px){
            padding: 20px;
            padding-bottom: 100px;
        }

        img.vespa {
            bottom: -85px;
            position: absolute;
            max-width: 55%;

            @media only screen and (max-width: 550px) {
                bottom: -24px;
            }
        }

        .vespa-text-container {
            float: right;
            margin-right: 12%;
            height: 280px;
            margin-top: 40px;
            color: white;
            position: relative;

            @media screen and (max-width: 991px){
            margin-right: 10%;
            float: none;
            height: 260px;
            }

            @media screen and (max-width: 420px){
                margin-right: 6%;
                height: 320px;
                }

            h1 {
                margin: 0;
            }

            
        }
        .social-networks-container {
            line-height: 0px;
            vertical-align: middle;
            position: relative;
           
            @media screen and (max-width: 991px){
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .social-wrapper{
                
                background: white;
                border-radius: 4px;
                padding: 6px;
                margin: 14px;
                display: flex;
                width: 320px;
                min-width: 320px;
                padding-left: 18px;
                box-shadow: 0px 2px 6px grey;
                margin-bottom: 0px;

                .social-title{
                    color: #84b5b6;
                    line-height: 28px;
                    flex-grow: 1;
                }

                @media screen and (max-width: 500px){
                    margin: 0;
                    margin-bottom: 8px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 320px;
                    min-width: unset;
                    max-width: calc(100% - 20px);
                    }
            }

            span.pads{
                padding: 12px;
            }

            img {
                width: 105px;
                vertical-align: top;
            }

            .fb_iframe_widget {
                vertical-align: sub;
            }
        }
    }
}
