.brands{
    max-width: 100%;
    text-align: center;

    .brand-container{
        display: inline-block;
        text-align: center;
        padding: 8px;

        img{
            max-width: 70px;
            height: auto;
        }

        span{
            display: block;
            padding-top: 16px;
        }
    }
}