div.shop-container {
    z-index: 0;
    height: auto;
    background: #f7f7f7;
}

section.shop {
    padding-top: 90px;
    padding-bottom: 0px;
    background: white;

    img.monkeys {
        width: 100%;
    }

    .no-margin{
        margin: 0
    }

    .instagram-integration{
        padding-bottom: 12px;

        iframe{
            margin: auto !important;
        }
    } 
}
